<h1>Register a new team</h1>
<%= form_with url: "/competitions/#{@competition.id}/competition_teams", method: :post, local: true do |form| %>
  <%= form.label :nickname, "Nickname:" %>
  <%= form.text_field :nickname %>
  <%= form.label :hometown, "Hometown:" %>
  <%= form.text_field :hometown %>
  <%= form.submit %>
<% end  %>
